---
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout className="articles" title="Articles">
  <section class="banner bg-gradient-seagreen py-80 px-3">
    <div class="container">
      <h1>Articles</h1>
      <p>Discuss any topics related to software development</p>
    </div>
  </section>

  <Breadcrumbs />

  <!-- articles -->
  <section class="pt-3 py-80">
    <div class="container">
      <p>Show <strong>6</strong> from 60 articles</p>

      <div class="row mb-50">
        <div class="col-lg-4 py-3">
          <div class="card article-card">
            <img
              alt="article thumbnail"
              class="card-img-top"
              src="./assets/no-image.png"
            />
            <div class="card-body">
              <h3 class="card-title">
                <a href="/article-detail.html" class="link link-primary">
                  Article Title
                </a>
              </h3>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 py-3">
          <div class="card article-card">
            <img
              alt="article thumbnail"
              class="card-img-top"
              src="./assets/no-image.png"
            />
            <div class="card-body">
              <h3 class="card-title">
                <a href="/article-detail.html" class="link link-primary">
                  Article Title
                </a>
              </h3>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 py-3">
          <div class="card article-card">
            <img
              alt="article thumbnail"
              class="card-img-top"
              src="./assets/no-image.png"
            />
            <div class="card-body">
              <h3 class="card-title">
                <a href="/article-detail.html" class="link link-primary">
                  Article Title
                </a>
              </h3>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 py-3">
          <div class="card article-card">
            <img
              alt="article thumbnail"
              class="card-img-top"
              src="./assets/no-image.png"
            />
            <div class="card-body">
              <h3 class="card-title">
                <a href="/article-detail.html" class="link link-primary">
                  Article Title
                </a>
              </h3>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 py-3">
          <div class="card article-card">
            <img
              alt="article thumbnail"
              class="card-img-top"
              src="./assets/no-image.png"
            />
            <div class="card-body">
              <h3 class="card-title">
                <a href="/article-detail.html" class="link link-primary">
                  Article Title
                </a>
              </h3>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 py-3">
          <div class="card article-card">
            <img
              alt="article thumbnail"
              class="card-img-top"
              src="./assets/no-image.png"
            />
            <div class="card-body">
              <h3 class="card-title">
                <a href="/article-detail.html" class="link link-primary">
                  Article Title
                </a>
              </h3>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
      </div>

      <nav aria-label="Page navigation articles">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
</Layout>
