<ol class="list-group list-group-numbered">
  <li
    class="list-group-item article-item d-flex justify-content-between align-items-start border-bottom pb-2"
  >
    <div class="w-100 me-auto">
      <h3 class="fs-5 fw-semibold text-truncate article-item__title">
        <a href="/article-detail.html">
          Lorem ipsum dolor sit amet consectetur adipisicing.
        </a>
      </h3>
      <p class="text-truncate mb-0">
        By
        <strong class="pe-2 fw-semibold">Addin Cendekia</strong>
        <time class="border-start ps-2"> 14 Nov, 2023. 09:12 </time>
      </p>
    </div>
  </li>
</ol>
