<nav class="container breadcrumb-container py-3" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/articles.html">Articles</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo,
      nostrum.
    </li>
  </ol>
</nav>
