---
const { sticky } = Astro.props;

const navClass = ["navbar navbar-expand-lg"];
navClass.push(!sticky ? "navbar-transparent" : "sticky-top shadow");
---

<nav class={navClass.join(" ")}>
  <div class="container">
    <a class="navbar-brand brand-title" href="/">Addin Cendekia</a>
    <!-- desktop only -->
    <div class="d-none d-lg-block flex-grow-0">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/projects">Projects</a>
        <a class="nav-link" href="/articles">Articles</a>
        <!-- <a class="nav-link" href="/about">About</a> -->
      </div>
    </div>
    <!-- mobile only -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list"></i>
    </button>
    <div
      class="d-lg-none offcanvas offcanvas-start"
      tabindex="-1"
      id="navbarNavAltMarkup"
      aria-labelledby="navbarNavAltMarkupLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="navbarNavAltMarkupLabel">
          Navigation Menu
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <nav class="nav flex-column">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/projects">Projects</a>
          <a class="nav-link" href="/articles">Articles</a>
        </nav>
      </div>
    </div>
  </div>
</nav>

<script is:inline define:vars={{ currentPath: Astro.url.pathname }}>
  document.querySelectorAll(".nav-link").forEach((link) => {
    if (link.getAttribute("href") === currentPath) {
      link.classList.add("active");
      link.setAttribute("aria-current", "page");
    }
  });
</script>
