<div class="d-flex align-items-center pt-3 pt-md-0">
  Share:
  <div class="share-actions ms-3">
    <button class="btn btn-facebook rounded-circle">
      <i class="bi bi-facebook"></i>
    </button>
    <button class="btn btn-twitter rounded-circle">
      <i class="bi bi-twitter-x"></i>
    </button>
    <button class="btn btn-whatsapp rounded-circle">
      <i class="bi bi-whatsapp"></i>
    </button>
    <button
      class="btn btn-copy btn-light rounded-circle"
      data-copy="this text should copied to clipboard"
    >
      <i class="bi bi-copy"></i>
    </button>
  </div>
</div>
